@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

html {
  font-size: 1vw;
}

/* Remove all @font-face definitions for Agrandir, Neue Machina, and Chalkduster */
